
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 10s ease-out, transform 10s ease-out;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}
